@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: white;
  background-color: hsl(0deg, 0%, 30%);
  border: none;
  border-radius: 50%;
}
.container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 3px solid dodgerblue; */
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 4px 10px 2px hsla(0deg, 0%, 50%, 0.2);
  gap: 16px;
  border-radius: 50%;
}
.time-displayer {
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: orange;
}
.controls button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
}
.controls button:active {
  filter: brightness(1.1);
}
.controls button:nth-child(1) {
  background-color: rgb(11, 203, 11);
  margin-right: 10px;
}
.controls button:nth-child(2) {
  background-color: rgb(229, 83, 57);
}
.dark {
  background-color: hsl(0deg, 0%, 30%);
}
.dark .container {
  box-shadow: 0px 4px 10px 2px hsla(0deg, 0%, 100%, 0.3);
}
.dark .dark-button {
  background-color: white;
  color: hsl(0deg, 0%, 30%);
}